<div class="accordion-item border-b-2 border-custom-grey-900">
  <div
    id="faq-{{ id }}"
    class="question flex justify-between p-5 hover:bg-custom-grey-500 cursor-pointer"
  >
    <span class="flex-initial p-1 pr-3 font-bold text-2xl number"
      >Q{{ id }}</span
    >

    <h2 class="flex-1 p-2 text-sm md:text-base font-semibold">
      {{ question }}
    </h2>

    <span class="flex-none bg-yellow-400 p-2 m-1 w-10 h-10">
      <img
        src="assets/img/plus-icon.svg"
        alt="plus-icon"
        class="cross w-6 h-6"
      />
    </span>
  </div>

  <div class="answer">
    <p class="p-7">
      {{ answer }}
    </p>
  </div>
</div>
