<h1
  class="uppercase font-bold text-4xl leading-tight pb-5 border-slate-900 border-b-30 mb-8 text-slate-900"
>
  Have a quesiton? We can help ({{ indexEmittedFromChildComponent }})
</h1>

<app-accordion-item
  *ngFor="let faq of allFaqs; let i = index"
  [ngClass]="{ active: selectedItem == faq }"
  (click)="accordClick($event, faq)"
  id="{{ faq.id }}"
  question="{{ faq.question }}"
  answer="{{ faq.answer }}"
  index="{{ i }}"
  (emitIndex)="parentEventHandlerFunction($event)"
></app-accordion-item>
